html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --greyBorder: rgba(128, 128, 128, 0.4);
  --arrowSize: 1.15rem;
}
body {
  width: 80%;
  height: 98vh;
  margin: 0.5rem auto;
  border: 0.25rem solid black;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
p { font-size: 1rem; }
button { font-size: 1rem; }

h1, h2, p, button {
  font-family: tahoma, helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0.25rem;
  background-color: none;
}
/* Button styles. ----------------------------------- */
button {
  background-color: black;
  color: white;
  border-radius: .5rem;
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
/* The header styles. ---------------------------------- */
.header {
  width: 100%;
  height: 19vh;
  background-color: white;
  border-bottom: 0.25rem solid black;
}
/* The main container. --------------------------------- */
.main {
  width: 100%;
  height: 78vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main button {
  padding: 0.15rem;
  width: 50%;
}
.topButton { margin-bottom: .15rem; }
.bottomButton { margin-top: .15rem; }
/* The scroll container divs.--------------------------- */
.scrollContainer {
  width: 100%;
  height: 21%;
  margin: 0 auto;
  border: 0.15rem solid black;
  background-color: white;
  overflow-y: scroll;
}
.scrollItemDiv {
  width: 100%;
  height: 1.45rem;
  border: 0.1rem solid var(--greyBorder);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.scrollItemDiv:hover {
  cursor: pointer;
}
.scrollItemPara {
  min-width: 40%;
  font-size: .9rem;
  padding: 0.1rem;
  border: 0.1rem solid var(--greyBorder);
  background-color: white;
}
.overlayDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* The arrow container divs.--------------------------- */
.arrowContainer {
  width: 100%;
  height: var(--arrowSize);
  display: flex;
  justify-content: center;
}
.down {
  width: 0; 
  height: 0; 
  border-left: var(--arrowSize) solid transparent;
  border-right: var(--arrowSize) solid transparent;
  border-top: var(--arrowSize) solid black;
}
.up {
  width: 0; 
  height: 0; 
  border-left: var(--arrowSize) solid transparent;
  border-right: var(--arrowSize) solid transparent;
  border-bottom: var(--arrowSize) solid black;
}
/* The colour box divs.--------------------------------- */
.colourBox {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid black;
}
.colourBox p {
  min-width: 40%;
  background-color: white;
  border: 0.15rem solid black;
}
/* Media Queries.------------------------------------- */
@media screen and (max-width: 800px) {
  html { font-size: 12px; }
  .header { height: 15vh; }
  .main { height: 83vh; }
}
@media screen and (max-width: 560px) {
  body { width: 100%; }
}
@media screen and (max-width: 350px) {
  html { font-size: 10px; }
  .header { height: 15vh; }
  .header h2 { font-size: 1.5rem; }
  .main { height: 83vh; }
}
@media screen and (max-width: 400px) and (max-height: 700px) {
  html { font-size: 10px; }
  .header { height: 10vh; }
  .header h1 { font-size: 2.3rem; }
  .main { height: 88vh; }
  .main button {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .9rem;
  }
  .scrollItemDiv {
    height: 2.5rem;
  }
  .scrollItemPara, .colourBox p, button {
    font-size: 1.45rem;
  }
}
