html {
  font-size: 16px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --greyBorder: rgba(128, 128, 128, 0.4);
  --arrowSize: 1.15rem;
}
body {
  width: 80%;
  height: 98vh;
  margin: 0.5rem auto;
  border: 0.25rem solid black;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}
button {
  font-size: 1.25rem;
}

h1,
h2,
p,
button {
  font-family: tahoma, helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0.25rem;
  background-color: none;
}
/* Button styles. ----------------------------------- */
button {
  background-color: black;
  color: white;
  border-radius: 8px;
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
/* The header styles. ---------------------------------- */
.header {
  width: 100%;
  height: 19vh;
  background-color: white;
  border-bottom: 0.25rem solid black;
  padding-bottom: 0.5rem;
}
/* The main container. --------------------------------- */
.main {
  width: 100%;
  height: 78vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main button {
  padding: 0.15rem;
  width: 50%;
}
.main .topButton {
  margin-bottom: 0.15rem;
}
.main .bottomButton {
  margin-top: 0.15rem;
}
/* The scroll container divs.--------------------------- */
.scrollContainer {
  width: 100%;
  height: 20%;
  margin: 0 auto;
  border: 0.15rem solid black;
  background-color: white;
  overflow-y: scroll;
}
.scrollItemDiv {
  width: 100%;
  height: 2rem;
  border: 0.1rem solid var(--greyBorder);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.scrollItemDiv:hover {
  cursor: pointer;
}
.scrollItemPara {
  min-width: 40%;
  height: 1.6rem;
  font-size: 1.1rem;
  padding: 0.1rem;
  border: 0.1rem solid var(--greyBorder);
  background-color: white;
}
.overlayDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* The arrow container divs.--------------------------- */
.arrowContainer {
  width: 100%;
  height: var(--arrowSize);
  display: flex;
  justify-content: center;
}
.down {
  width: 0; 
  height: 0; 
  border-left: var(--arrowSize) solid transparent;
  border-right: var(--arrowSize) solid transparent;
  border-top: var(--arrowSize) solid black;
}
.up {
  width: 0; 
  height: 0; 
  border-left: var(--arrowSize) solid transparent;
  border-right: var(--arrowSize) solid transparent;
  border-bottom: var(--arrowSize) solid black;
}
/* The colour box divs.--------------------------------- */
.colourBox {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid black;
}
.colourBox p {
  min-width: 40%;
  background-color: white;
  border: 0.15rem solid black;
}
/* Body and Font size queries.-------------------------- */
@media screen and (max-width: 850px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 9px;
  }
  button {
    font-size: 2rem;
  }
}
@media screen and (max-width: 560px) {
  body {
    width: 100%;
  }
}
/* Header and grid section vh adjustments. ---------------- */
/* @media screen and (max-width: 850px){
   .header { height: 12vh; }
   .main { height: 87vh; }
 }
 @media screen and (max-width: 450px){
   .header { height: 10vh; }
   .main { height: 90vh; }
 }
 @media screen and (max-width: 350px){
   h1 { font-size: 2.75rem; }
   h2 { font-size: 1.75rem; }
 }
 @media screen and (max-width: 304px){
   .header { height: 13vh; }
   .main { height: 87vh; }
 } */
/* Scroll item text adjustments. ----------------------------- */
/* @media screen and (max-width: 250px){
   .scrollItemPara {
     min-width: 50%;
   }
 } */
